{% extends "base.html" %}

{% block title %}Produto{% endblock %}

{% block content %}
<div class="d-flex row">
  <form action="{{ url_for('produto.formProduto')}}" method="POST" class="row">
    <h2 class=" col-10">Produtos</h2>
    <button type="submit"  name="formNovo" class="btn btn-md col-2 " style="background-color: rgb(240, 151, 43);" >Novo Produto</button>
  </form>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Descrição</th>
      <th scope="col">Foto</th>
      <th scope="col">Valor Unitário</th>
    </tr>
  </thead>
  <tbody>
    {% if result %}
    {% for row in result %}
    <tr>
      <th scope="row"> {{ row['id_produto'] }}</th>
      <td> {{ row['nome']}} </td>
      <td> {{ row['valor_unitario']}}</td>
      <td> {{ row['descricao']}}</td>
      <td> {{ row['foto']}}</td>
      <td><i class="fas fa-edit"></i></td>
      <td><i class="fas fa-trash"></i></td>
    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
</table>
{% endblock %}