{% extends "base.html" %}

{% block title %}Cadastro Funcionários{% endblock %}

{% set id = result[0].id_funcionario if result else '0' %}
{% set nome = result[0].nome if result else '' %}
{% set matricula = result[0].matricula if result else '' %}
{% set cpf = result[0].cpf if result else '' %}
{% set telefone = result[0].telefone if result else '' %}
{% set grupo = result[0].grupo if result else '' %}
{% set senha = result[0].senha if result else '' %}

{% block content %}
<div>
  <h3 class="d-flex justify-content-center mb-5"> {{ "%s: %s" % ('Editar', id) if result else 'Cadastrar'}} - Funcionário</h3>
  <form name="{{ 'formEditar' if result else 'formAdicionar'}}" id="{{ 'formEditar' if result else 'formAdicionar'}}" class="row was-validated" action="{{ url_for('funcionario.edit') if result else url_for('funcionario.insert') }}" method="POST">
    <div class="row">
      <div class="col-2 form-check">
        <label for="id" class="form-label">Código</label>
        <input type="text" class="form-control" name="id" id="id" value="{{ id }}" placeholder="Código" readonly>
      </div>
      <div class="col-7  form-check ">
          <label for="nome" class="form-label">Nome Funcionário</label>
          <input type="text" name="nome" class="form-control" id="nome" value="{{nome}}" placeholder="Nome Funcionário" maxlength="100" autofocus required>
          <div class="invalid-feedback">

            Favor inserir Nome.
            
            </div>
        </div>
      <div class="col-3  form-check ">
          <label for="matricula" class="form-label">Matrícula</label>
          <input type="text" name="matricula" class="form-control" id="matricula" value="{{matricula}}" placeholder="Matrícula" maxlength="15" required>
          <div class="invalid-feedback">

            Favor inserir Matrícula.
            
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-4  form-check">
            <label for="cpf" class="form-label">CPF</label>
            <input type="text" name="cpf" id="cpf" class="form-control" value="{{cpf}}" placeholder="CPF" maxlength="15" required>
            <div class="invalid-feedback">

              Favor inserir CPF.
              
              </div>
        </div>
        <div class="col-4  form-check ">
          <label for="telefone" class="form-label">Telefone</label>
          <input type="tel" name="telefone" id="telefone" class="form-control" value="{{telefone}}" placeholder="Telefone" maxlength="15" required>
          <div class="invalid-feedback">

            Favor inserir Telefone.
            
            </div>
        </div>
        <div class="col-4 ">
          <label for="grupo" class="form-label">Grupo</label>
          <select name="grupo" id="grupo" aria-label="Grupo" class="form-select" >
            <option value="0" {{ 'selected' if grupo == 0 else '' }}>Atendente</option>
            <option value="1" {{ 'selected' if grupo == 1 else '' }}>Caixa</option>
            <option value="2" {{ 'selected' if grupo == 3 else '' }}>Adm</option>
            </select>
        </div>
    </div>
    <div class="row">
      <div class="col-6  form-check">
        <label for="senha" class="form-label">Senha</label>
        <input type="password" name="senha" id="senha" class="form-control" value="{{senha}}" placeholder="Senha" required>
        <div class="invalid-feedback">

          Favor inserir Senha.
          
          </div>
      </div>
      <div class="col-6 form-check ">
          <label for="resenha" class="form-label">Senha Novamente</label>
          <input type="password" name="resenha" id="resenha" class="form-control" value="{{senha}}" placeholder="Senha" required>
          <div class="invalid-feedback">
            Favor inserir novamente a Senha.
            </div>
        </div>
    </div>
    <div class="row">
      <div class="d-flex justify-content-end mt-2">
    <button type='submit' name='salvaUsuarioDB' id='salvaUsuarioDB' class="btn btn-md col-2 ml-2 " style="background-color: rgb(240, 151, 43);"><i class='fas fa-save'></i> Salvar</button>
    </div>
    </div>
  </div> 
  </form>
</div>
{% endblock %}
